body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background: #D7FDFD;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 50px;
	margin-bottom: 58px;
}

h3 {
	font-size: 25px;
	margin-bottom: 28px;
}

a {
	text-decoration: none;
}

section {
	padding-top: 70px;	
}

p {
	margin: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.wrapper {
    box-shadow: rgba(0, 0, 0, 0.35) 0 7px 19px;
    border-radius: 15px;
    padding: 30px;
    margin-top: 200px;
    background: white;
    text-align: center;
}

.btn {
	padding-left: 40px;
	padding-right: 40px;
}

.login-label {
		font-size: 30px;
}

body, html {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Raleway';
    src: url(fonts/Raleway-Regular.ttf);
}

hr {
    height: 1px;
    background-color: black;
    margin-left: 50px !important;
    margin-right: 50px !important;
}

.navbar {
    background-color: white !important;
}

.navbar-light .navbar-nav .nav-link {
    color: black !important;
}

.btn-custom {
    color: black !important;
    background-color: white !important;
    border-color: black !important;
    font-size: 30px !important;
    font-family: "Raleway";
}

.btn-custom:hover {
    color: white !important;
    background-color: black !important;
    transition: 0.3s;
}

header {
    background-color: white;
    color: black;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 5px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Raleway';
    margin-right: 68px;
}

nav li:last-child {
    margin-right: 0;
}

.underline-link {
    position: relative;
    color: black;
    text-decoration: none;
    padding-bottom: 2px;
}

.underline-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: visible;
    transition: width 0.5s;
}

.underline-link:hover::before {
    width: 100%;
    visibility: visible;
}