<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
	<title>opermaps</title>
</head>
<style>
    #map {
        height: 400px;
    }
</style>
<body>
	
	<a href="/map">Назад <</a><br>
	<a href="/database">Изменить базу маршрутов</a><br>
	<a href="/database">Изменение учётный данных сотрудников</a>
	<hr>
	<div id="map"></div>

	

	<p>Добавление объектов в базу</p>
	<form action="/add_info" method="post">
		<select name="_type" id="selectType">
			<option value="cam">камера</option>
			<option>курируемый объект</option>
			<option>посольство</option>
		</select>
		<input type="text" name="serial" placeholder="serial" id="serial">
		<input type="text" name="optional" placeholder="optional" id="optional">
		<input type="text" name="name" placeholder="name" id="name">
		<input type="text" name="phone" placeholder="phone" id="phone">
		<button type="button" id="addMarkerButton">добавить</button>
	</form>
	<hr>
	<p>Загрузить JSON с информацией</p>
	<form>
		<input type="file" name="filename">
	</form>
	<hr>
	<h5>Таблица объектов</h5>
	<form action="">
		<input type="text" name="search" placeholder="поиск по серийному номеру">
	</form>
	<table style="margin-top: 25px;">
		<tr><th>тип объекта</th><th>серийный номер</th><th>описание</th><th>широта</th><th>долгота</th><th>удалить</th></tr>
		{% for i in cams %}
		<tr><td>камера</td><td>{{ i.serial }}</td><td>{{ i.optional }}</td><td>{{ i.lat }}</td><td>{{ i.lan }}</td><td><img src="{{ url_for('static', path='img/musor.png') }}" style="height: 10px; width: 10px;"></td></tr>
		{% endfor %}
	</table>

	<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>

	<script type="text/javascript">
		var map = L.map('map', {attributionControl: false}).setView([56.2389, 43.4555], 13);
        var myAttrControl = L.control.attribution().addTo(map);
        myAttrControl.setPrefix('<a href="https://leafletjs.com/">Leaflet</a>');

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            minZoom: 13,
        }).addTo(map);

        var marker;

        map.on('click', function(event) {
            if (!marker) {
                marker = L.marker(event.latlng).addTo(map);
            } else {
                marker.setLatLng(event.latlng);
            }
        });

        document.getElementById('addMarkerButton').addEventListener('click', function() {
            if (marker) {
                var markerCoords = marker.getLatLng();
                var apiUrl = '/add_info';
                const type = document.getElementById('selectType').value;
                const serial = document.getElementById('serial').value;
                const optional = document.getElementById('optional').value;
                const name = document.getElementById('name').value;
                const phone = document.getElementById('phone').value;
                console.log(type);
                console.log(markerCoords);

                fetch(apiUrl + '?' + new URLSearchParams({
			    serial: serial,
			    optional: optional}), {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'lat': markerCoords.lat,
                        'lan': markerCoords.lng,
                        'selectType': type
                    }
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Координаты маркера отправлены на сервер:', data);
                    alert('Маркер успешно добавлен!');
                })
                .catch(error => {
                    console.error('Ошибка при отправке координат на сервер:', error);
                    alert('Произошла ошибка при добавлении маркера.');
                });
            } else {
                alert('Сначала добавьте маркер на карту!');
            }
        });
	</script>

	<style type="text/css">
		/* внешние границы таблицы серого цвета толщиной 1px */
		table {
		   border: 1px solid grey;
		}
		/* границы ячеек первого ряда таблицы */
		th {
		   border: 1px solid grey;
		}
		/* границы ячеек тела таблицы */
		td {
		   border: 1px solid grey;
		}
	</style>

</body>
</html>
