<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="icon" href="{{ url_for('static', path='img/star.ico') }}" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
	<title>AOFMap</title>
</head>
<body>
	
<div class="container">
	<div class="wrapper" style="border: 4px solid;">
		<img src="{{ url_for('static', path='img/map.svg') }}" style="margin-top: -150px;">
		<div class="ad-head">
		</div>
		<form action="/map" method="get" style="margin-bottom: 40px;">
			<div class="form-group" style="margin-top: 15px;">
				<label for="inputNicknameReg" class="login-label">логин</label>
				<input type="text" class="form-control" id="inputNicknameReg" name="username" required>
			</div>
			<div class="form-group">
				<label for="inputPass" class="login-label">пароль</label>
				<input type="password" class="form-control" id="inputPass" name="password" required>
			</div>
			<div class="d-flex justify-content-center" style="padding-top: 20px;">
				<button type="submit" class="btn btn-outline-dark btn-lg" onclick="enter()">вход</button>
			</div>
		</form>
	</div>
</div>

<script>
function enter() {
	
}
</script>

</body>
</html>