<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenMap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <script src="{{ url_for('static', path='js/exit.js') }}"></script>
    <script src="{{ url_for('static', path='js/cam.js') }}"></script>
    <script src="{{ url_for('static', path='js/routing.js') }}"></script>
    <script src="{{ url_for('static', path='js/admin.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', path='img/stars.ico') }}" type="image/x-icon">
    <style>
        #map {
            height: 632px;
        }
    </style>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <img src="{{ url_for('static', path='img/map.svg') }}" alt="Logo" class="navbar-logo" style="height: 91px; width: 66px;">
            <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 60px;">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <button class="nav-link underline-link" onclick="showMarkers()">Показать/Скрыть камеры</span></button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link underline-link" href="/prepods">Сравнить маршруты</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link underline-link" onclick="admin()">Администрирование</button>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" style="margin-right: 20px;">
                        <button type="button" class="btn btn-custom rounded-pill" id="loginButton" onclick="exit()">Выйти</button>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div id="map"></div>


    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 120px;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <button class="nav-link underline-link" onclick="showCons()">Показать/Скрыть посольства</span></button>
                </li>
                <li class="nav-item">
                    <button class="nav-link underline-link" onclick="showKur()">Показать/Скрыть курируемые объекты</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link underline-link" href="/admin" style="" id="saveButton">Сохранить маршрут</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link underline-link" onclick="clearMarkers()">Очистить маршрут</button>
                </li>
            </ul>
        </div>
    </nav>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <script>


        let markers = [];
        let camMarkers = [];
        let consMarkers = [];
        let kurMarkers = [];

        let camMarkerIcon = L.icon({
          iconUrl: "{{ url_for('static', path='img/cam.png') }}",
          iconSize: [50, 50],
          iconAnchor: [16, 32],
        });

        let consMarkerIcon = L.icon({
          iconUrl: "{{ url_for('static', path='img/cons.png') }}",
          iconSize: [35, 45],
          iconAnchor: [16, 32],
        });

        let kurMarkerIcon = L.icon({
          iconUrl: "{{ url_for('static', path='img/kur.png') }}",
          iconSize: [50, 50],
          iconAnchor: [16, 32],
        });

        

        var map = L.map('map', {attributionControl: false}).setView([56.2389, 43.4555], 13);
        var myAttrControl = L.control.attribution().addTo(map);
        myAttrControl.setPrefix('<a href="https://leafletjs.com/">Leaflet</a>');

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            minZoom: 13,
        }).addTo(map);

        var routeControl = L.Routing.control({
            waypoints: [],
            routeWhileDragging: true,
            show: true, 
            lineOptions: {
                styles: [{color: '#000588', opacity: 0.7, weight: 5}]
            }
        }).addTo(map);

        // Обработчик события для добавления маркера по клику на карте
        map.on('click', function(event) {
            var clickedPoint = event.latlng;
            L.marker(clickedPoint).addTo(map);

            // Обновление маршрута при добавлении нового маркера
            var waypoints = [];
            map.eachLayer(function(layer) {
                if (layer instanceof L.Marker) {
                    waypoints.push(layer.getLatLng());
                }
            });

            // Сортировка маршрутных точек по порядку
            waypoints.sort(function(a, b) {
                return a.lat - b.lat || a.lng - b.lng;
            });

            // Построение маршрута с учетом порядка точек
            routeControl.setWaypoints(waypoints);
        });

        // Удаление описания маршрута при его создании
        routeControl.on('routesfound', function(e) {
            document.querySelector('.leaflet-routing-container').style.display = 'none';
        });

        document.getElementById('saveButton').addEventListener('click', function() {
            saveRoute(waypoints.getLayers());
        });
    </script>
</body>
</html>

<style type="text/css">
.nav-link {
    color: black;
    border: none;
    background: none;
    font-size: 24px;
    margin-left: 10px;
}
.nav-link:after {
    border: none;
}
</style>

